// Required Core Stylesheet
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';

// Optional Theme Stylesheet
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.theme';

@import './assets/scss/styles.scss';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #1d1d1d;
}

.App-cta {
  background-color: #da354c;
  color: #ffffff;
  height: 80px;
  line-height: 80px;
  min-width: 220px;
  text-align: center;
  text-decoration: none;
  padding: 0 1rem;
  border-radius: 40px;
}

.tagline {
  color: #8b9199;
}

.page-title {
  display: flex !important;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;

  h1 {
    position: relative;
    display: flex;
    align-items: center;
    background: var(--color-primary);
    height: 50px;
    font-size: var(--app-font-size-11);
    color: var(--color-light);
    padding-left: 1rem;
    padding-right: 1rem;

    &::before {
      position: absolute;
      content: '';
      width: 8px;
      height: 50px;
      background: var(--color-primary);
      transform: translateX(-28px);
    }

    &::after {
      position: absolute;
      content: '';
      right: 0;
      border-top: 50px solid var(--color-primary);
      border-right: 50px solid transparent;
      transform: translateX(100%);
    }
  }
}

.form-container {
  width: 400px;
  margin: auto;
}
