.feedback-container {
  font-size: 14px;
  cursor: pointer;
  position: fixed;
  top: auto;
  right: -24px;
  bottom: 100px;
  display: block;
  color: var(--color-white);
  background-color: var(--color-primary);
  padding: 8px 20px;
  border: none;
  transform: rotate(-90deg);
  transition: all 0.3s ease-out;
  z-index: 2000000000;

  &:hover {
    background-color: var(--color-secondary);
  }
}
